* {
  margin: 0;
  padding: 0;
}
body {
  background: #55b9f3;
  height: 100vh; 
  background: #55b9f3;
  animation: blow 7s linear infinite;
  height: 200px;
  width: 200px;
}
.logo {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column; 
  color: #fff;
  font-size: 50px;
}
